body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5
}

#instances .num {
    text-align: right;
}


td:hover .desc {
    display: block;
}

td .desc {
    display: none;
}

#instances a {
    text-decoration: none;
}

#instances th.num,
#instances th.bool,
#instances td.bool {
    text-align: center;
}

#instances th.num,
#instances td.num {
    width: 4em;
}

#instances th.bool,
#instances td.bool {
    width: 3em;
}

#instances th.group-begin,
#instances td.group-begin {
    border-left-width: var(--bs-border-width);
}

#instances th.run-mode-begin,
#instances td.run-mode-begin {
    border-left-width: 2*var(--bs-border-width);
}

#pagination {
    margin-top: 1em;
    text-align: center;
}

#pagination button {
    margin: 0.5em;
}

.tag {
    font-weight: bold;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 0.5em;
    display: inline;

    color: white;
    background-color: #444;
    margin-left: 1em;
    cursor: pointer;
}

.tagstyle1 {
    background: blue;
}

.tagstyle2 {
    background: darkred;
}

.tagstyle3 {
    background: darkgreen;
}

.tag.active::after {
    content: " ❌";
}

.tag.inactive {
    opacity: 0.5;
}

th.asc::after {
    content: " ↗️";
}

th.desc::after {
    content: " ↘️";
}

th.sortable {
    cursor: pointer;
}

#instances a:hover {
    text-decoration: underline;
}
#instances .error,
#instances .warn {
    text-align: center;
}

#instances .error,
#run-stats .error,
.text-error,
.text-infeasible {
    color: var(--bs-danger-text-emphasis);
}

#instances .warning,
#run-stats .warning,
.text-timeout {
    color: var(--bs-warning-text-emphasis);
}

#instances .optimal,
#run-stats .optimal,
.text-optimal {
    color: var(--bs-success-text-emphasis);
}

#instances tbody tr:nth-of-type(2n+1) td.run-mode-only {
    background: var(--bs-info-bg-subtle);
}
#run-stats tr :nth-child(1) {
    padding-right: 3rem;
}

#run-stats th.num {
    text-align: center;
}

#run-stats td.num {
    padding-left: 1rem;
    text-align: right;
}
.info .field {
    margin-right: 1rem;
}

.info .field::after {
    content: ",";
    white-space: break-spaces;
}

.info .field:last-child::after {
    content: "";
}
#runs .run {
    border: 2px solid var(--bs-gray);
    border-radius: var(--bs-border-radius);
}

#runs>.hidden {
    opacity: 0.5;
}

#runs>.instances_of {
    border-color: var(--bs-info);
    background-color: var(--bs-info-bg-subtle);
}

#runs>.instances_of .instances_of {
    font-weight: bold;
    color: var(--bs-danger-text-emphasis);
}


#runs .run:hover {
    border: 2px solid var(--bs-primary-border-subtle);
}


#runs .run .name {
    cursor: pointer;
}

#runs .run .name:hover {
    text-decoration: underline;
}

#runs .run .progress-stacked,
#runs .run .progress {
    --bs-progress-height: 3.5rem;
    --bs-progress-font-size: 100%;
}

#runs .tools {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    ;
}

#runs .tools a {
    text-decoration: none;
    cursor: pointer;
}
#runs .tools label {
    margin-left: 0.2em;
    margin-right: 1em;
}

#plots label {
    display: block;
    text-align: center;
}

#plots .plot {
    background-color: var(--bs-info-bg-subtle);
    height: 25rem;
}
#graph-container {
    height: 50rem;
}

#graph-container line {
    stroke: var(--bs-info-text-emphasis);
    stroke-width: 2px;
}

#graph-container .node circle {
    fill: var(--bs-gray-200);
    stroke: var(--bs-primary-border-subtle);
    stroke-width: 2px;
    r: 1em;
    cursor: grab;
}

#graph-container .node text {
    font-size: 12px;
    fill: var(--bs-gray-900);
}


#graph-container .domset circle {
    stroke: var(--bs-primary-border-subtle);
    fill: var(--bs-primary-bg-subtle);
}

#graph-container .domset text {
    stroke: var(--bs-primary);
}

#graph-container .uniquecovered circle {
    stroke: var(--bs-success-border-subtle);
    fill: var(--bs-success-bg-subtle);
    r: 0.8em;
}

#graph-container .uniquecovered text {
    stroke: var(--bs-success);
    fill: var(--bs-success);
}

#graph-container line.uniquecovered {
    stroke: var(--bs-success);
}


#graph-container .multicovered circle {
    stroke: var(--bs-warning);
    fill: var(--bs-warning-bg-subtle);
}

#graph-container line.multicovered {
    stroke: var(--bs-warning);
}

#graph-container .multicovered text {
    stroke: var(--bs-warning-border-subtle);
}

#graph-container line.unused {
    opacity: 0.4;
}


#graph-container line.faded {
    opacity: 0.2 !important;
}

#graph-container .faded circle {
    stroke-opacity: 0.1;
}

#graph-container .faded text {
    opacity: 0.5;
}

#graph-container .legend {
    opacity: 0;
}

.solver-mode #graph-container .legend {
    opacity: 1;
}

#graph-container .legend text {
    fill: white;
}

#graph-container .legend circle {
    r: 16px;
}

#graph-vis-outer {
    background-color: var(--bs-dark-bg-subtle);
    border-radius: var(--bs-border-radius);
}

.solver-mode-only {
    display: none;
}

body.solver-mode .solver-mode-only {
    display: inherit;
}